.cart{
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}
.cart h3{
    text-align: center;
    background-color: black;
    color: white;
}
.cart > p{
    padding: 2px;
    margin: 4px 0;
    font-size: 15px;
}
.cart > p:nth-child(2n+1){
    background-color: lightgray;
}
.cart > p:nth-child(2n){
    background-color: gray;
    color: whitesmoke;
}
.highlighted{
    font-size: 20px;
    color: crimson;
}